body {
    padding-top: 40px !important;
}

.document {
    max-width: 400px;
}

.doc-list {
    justify-content: space-around;
}

.document main [data-tab="graph"] {
    display: flex;
    justify-content: center;
}

.document main [data-tab]:not(.is-active) {
    display: none;
}